# -----------------------------
# Python
# -----------------------------
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Caches
# -----------------------------
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
coverage/
htmlcov/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/
*.code-workspace

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# Git
# -----------------------------
.git/
.gitignore

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Generated Reports
# -----------------------------
reports/

# -----------------------------
# MLflow
# -----------------------------
mlruns/
mlflow.db

# -----------------------------
# Dataset
# -----------------------------
data/raw/


# -----------------------------
# Environment
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Temporary
# -----------------------------
tmp/
temp/

.vscode/


