.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

logs/

# Ignore all artifacts except production artifacts
artifacts/*
!artifacts/models/
!artifacts/models/latest/
!artifacts/models/latest/**

!artifacts/preprocessing/
!artifacts/preprocessing/latest/
!artifacts/preprocessing/latest/**

mlruns/

.env

.ipynb_checkpoints/

*.pyc

*.pyo

*.pyd

.DS_Store

.idea/

.vscode/

# Local database
mlflow.db

# Raw datasets
data/raw/

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env